<!DOCTYPE html>
<head>
    {{>commonhead}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This App is created to get real-time weather data using Mapbox and DarkSky.net API's.</p>
        <img class="portrait" src="/img/profile.jfif" />
        <p>A web development enthusiast, I have many technologies such as <b>PHP, NodeJS,</b> Javascript, MongoDB, Basic Angular, MySql, Wordpress, Adobe Experience Manager (Authoring), SEO under my belt.</p>
        <p>I have started working on development since school with C language as my first language. I have been doing development actively since last 4+ years, on different languages and platforms. My mates, teachers, colleagues and the clients have acknowledged me for my development skills and my work.</p>
        <p>I have worked on huge amount of projects, of different types and technologies. I prefer making the web application in a custom manner rather than the plain old style. Thinking out of the box is my style of work. Recently, I have worked on technologies like Amazon Web Services, Heroku , NodeJS and MongoDB and incorporated them in a E-Commerce Project, Rest API's, Android Apps etc.</p>
        <p>Apart from this tech stuff, I also love Comics and is ready for a discussion anytime on the topic.</p>
        <p>Oh, and Hello, my name is {{name}}.</p>
    </div>
    
    {{>footer}}
</body>
</html>