<!DOCTYPE html>
<head>
     {{>commonhead}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}} <a href="https://www.linkedin.com/in/prashant-kumar-2124b3b4/" target="_blank">Linkedin</a></p>
    </div>

    {{>footer}}
</body>
</html>